body, html {
  height: 100%;
  margin: 0;
  font: 400 16px "Avenir Next", sans-serif;
  --theme-light: white;
  --theme-dark: black;
  --header-col: var(--theme-dark);
  --text-col: var(--theme-dark);
  --name-col: var(--theme-dark);
  --arrow-col: var(--theme-dark);
  /* old: F35585, resume: cd5c7e */
  --link-default-col: #ff447c; 
  --link-hover-col: #C02654;
  /* --link-default-col: blue;
  --link-hover-col: blue; */

  --max-width-var: 800px;
  --letter-spacing-high: 0.16em;
  --letter-spacing-low: 0.08em;

  --font-size-title: 3rem;
  --font-size-normal: 1.1rem;
}

/* ----- <IMAGES> ----- */

.parallax-img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.blur-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* box-shadow: 0px -3px 100px #222; */

  /* hor, vert, blur, spread, color */
  box-shadow: 0px -4px 81px 0px rgba(0, 0, 0, 0.25);
}

.main-img {
  background-image: url("res/gummybear-blurred.jpg");

  /* Tint image
  background-color: #FCF3FF;
  background-blend-mode: multiply; */
 
}

.oculus-img {
  background-image: url("res/oculus.jpg");
}

.oculus-img-blurred {
  background-image: url("res/oculus_blurred.jpg");
}

.snap-img {
  background-image: url("res/snap.jpg");
}

.snap-img-blurred {
  background-image: url("res/snap_blurred50.jpg");
}


.ctrl-labs-img {
  background-image: url("res/ctrl-labs.png");
}

.ctrl-labs-img-blurred {
  background-image: url("res/ctrl-labs-blurred50.jpg");
}

.spatial-img {
  background-image: url("res/spatial.jpg");
}

.spatial-img-blurred {
  background-image: url("res/spatial_blurred50.jpg");
}

.tank-img {
  background-image: url("res/tankgame.jpg");
}

.tank-img-blurred {
  background-image: url("res/tankgame_blurred30.jpg");
}

.ai-img {
  background-image: url("res/selfdriving.jpg");
}
.ai-img-blurred {
  background-image: url("res/selfdriving_blurred50.jpg");
}
/* ----- </IMAGES> ----- */

/* ----- <FRONT PAGE> ----- */
.name-page {
  background-color: white;
}

.name-container {
  position: relative;
  max-width: var(--max-width-var);
  top:0;
  padding: 40px;
  margin: auto;
  text-align: center;
  /* text-shadow: 0px 2px 8px rgba(0, 0, 0, .25); */
}

.name {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: var(--letter-spacing-high);
  margin: 20px 0px; /* top/bottom right/left */
  text-align: center;
  color: var(--name-col);
  text-transform: uppercase;
}

.name-description {
  font-size: var(--font-size-normal);
  letter-spacing: var(--letter-spacing-low);
  font-weight: normal;
  margin: 4% 0 1% 0; /* top right bottom left */
  color: var(--text-col);
}

/* ----- </FRONT PAGE> ----- */

/* ----- <CONTENT> ----- */
.content {
  max-width: var(--max-width-var);
  padding-bottom: 0px;
  margin: auto;
  text-align: left;
  padding: 0px 40px;
  /* text-shadow: 0px 0px 50px #333; */

  color: var(--text-col);
}


h1 {
  font-size: var(--font-size-title);
  letter-spacing: var(--letter-spacing-high);
  font-weight: normal;
  margin: 10px 0px; /* top/bottom right/left */
}

.content h1 {
  color: var(--header-col);
}

h2 {
  font-size: var(--font-size-normal);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-high);
  margin: 10px 0px; /* top/bottom right/left */

  text-transform: uppercase;
}

p {
  font-size: var(--font-size-normal);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-low);
  text-decoration: none;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

a:link, a:visited {
  color: var(--link-default-col);
}

a:hover, a:active {
  color: var(--link-hover-col);
}

/* ----- </CONTENT> ----- */

/* ----- <ARROW> ----- */

.arrow {
  height: 60px;
}
.arrow a {
  position: absolute;
  bottom: 12px;
  left: 50%;
  padding-top: 55px;

  color: var(--arrow-col);
  letter-spacing: var(--letter-spacing-high);
  font-weight: normal;
  text-transform: lowercase;

  transition: opacity 0.3s;
  
}

.arrow a:hover {
  opacity: .5;
}


.arrow a {
  padding-top: 40px;
}
.arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid var(--arrow-col);
  border-bottom: 1px solid var(--arrow-col);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  
  margin-bottom: -10px;
}

 @keyframes arrow-anim {
  0% {bottom: 12px;}
  50% {bottom: 0px;}
  100% {bottom: 12px;}
} 

/* ----- </ARROW> ----- */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax-img {
        background-attachment: scroll;
    }
}
