$text_color: #D6D6D6;
$div_color: rgba(0,0,0,0.75);

body {
	height: 100%;
	background: url("http://oi67.tinypic.com/3026ro9.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background-color: transparent;
}

/*NAV BAR*/
nav {
	position: absolute;
	right: 50px;
	top: 20px;
}

nav li {
	display: inline;
	padding: 15px;
}

/*LINKS*/
nav li a {
	text-decoration: none;
	font-size: 20;
}

/* unvisited link */
nav li a:link {
    color: $text_color;
}

/* visited link */
nav li a:visited {
    color: $text_color;
}

/* mouse over link */
nav li a:hover {
    color: white;
}

/* selected link */
nav li a:active {
    color: $text_color;
}
/*END LINKS*/

nav ul {
	padding: 0;
}
/*END NAV BAR*/


/*main page*/
.main {
	background-color: $div_color;
	border-radius: 10px;
	padding: 0px 20px 0px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: $text_color;
}

.main p {
	text-align: center;
	font-size: 18;
}

.main img {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*end main page*/

.about {
	background-color: $div_color;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	margin-top: 100px;
	margin-bottom: 60px;
    color: $text_color;
    width: 70%;
	left: 50%;
	transform: translate(22.5%, 0%);
}

@media screen and (max-width: 600px) {
	.about {
		width: 80%;
		left: 50%;
		transform: translate(12.25%,0%);
	}
}

@media screen and (max-width: 480px) {
	.about {
		width: 90%;
		left: 50%;
		transform: translate(5.625%,0%);
	}
}

.about p {
	font-size: 16;
}

.about img {
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
}

.about h2 {
	text-align: center;
}

/*Begin project list*/
.container-fluid {
	margin-top: 60px;
	margin-bottom: 60px;
    color: $text_color;
	text-align: center;
}

.project {
	background-color: $div_color;
	display: inline-block;
	border-radius: 5px;
	padding: 0px 20px 0px 20px;
	margin: 10px 0 10px 0px;
	max-width: 800px;
}

.project img {
	padding-top: 20px;
	padding-bottom: 20px;
}

.project iframe {
	padding-top: 20px;
	padding-bottom: 20px;
}

.project p {
	font-size: 16;
	text-align: left;
}